# Basics
.DS_Store
.env
.vscode/

# Backend (Java/Maven)
backend/target/
backend/.mvn/wrapper/maven-wrapper.properties
backend/mvnw
backend/mvnw.cmd
backend/**/*.class
backend/**/*.jar
backend/**/*.war
backend/**/*.ear
backend/**/*.log

# Frontend (Node/Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/package-lock.json

# IDEs
.idea/
*.iml
.claude/
